/* Nyaa css */
.search-result{
    display: flex;
    justify-content: center;
}

/* Add Download PopUp */
.download-methods-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download-method-choice{
    cursor: pointer;
    width: fit-content;
}
.download-method-choice:hover{
    background-color: blanchedalmond;
}

/* donwloadcontrols css */
div.all-controls-container{
    display: flex;
    justify-content: center;
    gap: 7%;
    margin: 1%;
}
div.control-img-container{
    display: block;
    width: 5%;
}
img.control-img{
    width: 100%;
}

div.files-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.one-file-container{
    display: flex;
    flex-direction: row;
}
div.one-file-container:not(:last-child){
    border-bottom: 1px solid;
}


div.multi-file-container{
    display: flex;
    flex-direction: row;
}
div.multi-file-container-and-its-button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

div.file-content{
    display: block;
}

div.part-of-multi-file{
    display: flex;
    flex-direction: row;
}
div.part-of-multi-file:not(:last-child){
    margin-bottom: 2%;
}

/* General CSS */
*{
    font-size: 1.1rem;
}
.empty-10percent-width{
    width: 10%;
}

/* File Details CSS (name, check box, ...) */
.file-checkbox{
    width: 10%;
}
.file-name{
    width: 70%;
    text-align: start;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-name-small{
    width: 40%;
    text-align: start;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-progress{
    width: 20%;
}
.file-progress-small{
    width: 10%;
}

/* File Status CSS (running, paused, stopped) */
.file-status-paused{
    background-color: gray;
}

.file-status-active{
    background-color: forestgreen;
}

.file-status-waiting{
    background-color: greenyellow;
}

.file-status-complete{
    background-color: #325e8c;
}

.file-status-removed{
    background-color: rgb(124, 42, 42);
}

/* Part Of Multi File Status CSS (selected, not selected) */
.part-of-multi-file-selected-false{
    background-color: lightgrey;
}