{
	"aria2_server_url": "http://localhost:6800/rpc",
	"react_server_url": "http://localhost:3000",

	"python_server_host": "localhost",
	"python_server_port": "8000"

	"download_base_path": "Absolute/path/to/folder"
}